.Couverture {
  height: 100vh;
  background-color: grey;

  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  justify-content: center;
  align-items: center;

  text-align: center;
  font-size: 1.75rem;

  .equipe {
    span {
      /* display: block; */
      margin: .25em;
    }
  }

  .titre {
    font-size: 3.5em;
    margin: .5em 0;
  }

  .logo {
    width: 600px;
    margin: 2em 0;
  }

  .info-cours, .identification {
    margin: 1em 0;

    * {
      margin: 0;
    }
  }
}
