.Detail {
  margin: 10vh 0;

  background-repeat: no-repeat;
  background-size: cover;

  div.organigramme {
    display: grid;
    grid-template:
      "niv1 niv2" 525px
      "niv1 niv3" 525px
      / 40% 60%;
    justify-items: center;
    align-items: stretch;
  }
}
