.Module {
  width: 69vw;
  margin: 10vh auto;

  th {
    padding: 10px;
    text-align: left;
    vertical-align: top;
  }

  td {
    padding: 5px;
    padding-left: 10px;
  }

  th, td{
    padding-top: 20px;
    padding-bottom: 20px;
  }

  thead {
    tr {
      background-color: #c1914f;
      color: white;

      th:first-child{
        width: 30%;
      }
    }
  }

  tbody{
    tr{
      background-color: rgba(0, 0, 0, .25);
      /* color: black; */
    }
  }
}

table,
th,
td {
  border: 1px solid white;
  border-collapse: collapse;
}
