.Sommaire{
	a{
        display: block;
        margin: .5em;
        padding: .25em;

        text-decoration: none;
        color: black;

        position: relative;
    }
    /* a:hover{
        background-color: red;
    } */
    a::before{
        content: '';

        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;

        height: 100%;
        width: 0;
        background-color: red;

        transition: width .5s ease;
    }
    a:hover::before{
        width: 100%;
    }
}