.Sommaire {
  h1{
    position: relative;
  }
  h1::after{
    content: '';
    pointer-events: none;

    position: absolute;
    top: -50%;
    left: -7.5%;

    background-image: url('../assets/images/rideaux.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 115%;
    height: 900px;
  }

  div {
    padding: 2em;
    padding-top: 15vw;
    background-color: #4e0000;
    display: grid;
    grid-template-areas:
      "technique synopsis organigramme"
      "technique niveaux organigramme"
      "son lumieres modules"
      "son lumieres modules";

    color: var(--main-color);
    text-transform: uppercase;

    a {
      align-content: center;

      padding: 1em .5em;
      border: 10px solid black;

      text-decoration: none;
      text-align: center;
      color: inherit;
      font-size: 1.5em;

      transition-property: color, background-color, border;
      transition-duration: .5s;
      transition-timing-function: ease;
    }
    a:hover{
      color: #4e0000;
      background-color: var(--main-color);
      border-color: white;
    }
  }
}
