/* :root {
} */

@font-face {
  font-family: "Unfinished Scream";
  src: url("/unfinished_scream/WOFF/UnfinishedScreamRegular.woff")
    format("woff");
}

@font-face {
  font-family: "Punk Typewriter";
  src: url("/punk_typewriter/Punk Typewriter.otf") format("opentype");
}

@font-face {
  font-family: "JMH Typewriter";
  src: url("/jmh_typewriter/JMH Typewriter.otf") format("opentype");
  font-weight: normal;
}


/* *,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

html{
  scroll-behavior: smooth;
}

.titre {
  font-family: "Unfinished Scream", Papyrus, fantasy;
}

.sous-titre {
  font-family: "Punk Typewriter", Georgia, serif;
}

.parag {
  font-family: "JMH Typewriter", serif;
}
